.person-data-container{
    display: grid;
    grid-template-columns: 6fr 2fr;
    margin-top: 40px;
    padding-bottom: 40px;
}
.person-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 20px;
}
.person-data{
    font-weight: bold;
    text-align: center;
    border: 2px solid #F0A500;
    border-radius: 10px;
}
